# Ignore Python virtual environment
venv/
env/

# Ignore environment files
.env
.env.*

# Ignore database files
*.db
*.sqlite3
*.chroma_db

# Ignore system files
__pycache__/
*.pyc

# Ignore everything in node_modules and its cache
frontend/node_modules/
frontend/node_modules/.cache/
node_modules/
.cache/


# Ignore log files
*.log

# Ignore IDE/editor settings
.vscode/
.idea/

# Ignore build/output folders
dist/
build/
